<?xml version="1.0"?>
<launch>
    <arg name="seadrone_camera" default="true"/>
    <arg name="veh" default="seadrone"/>

    <group ns="$(arg veh)">
        <group if="$(arg seadrone_camera)">
            <!--seadrone detect-->
            <node name="mediapipe_seadrone_node" pkg="hand_gesture" type="cam_hand.py" output="screen"/>
        </group>

        <group unless="$(arg seadrone_camera)">
            <!--Open Camera-->
            <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

            <!--D435 detect-->
            <node name="mediapipe_d435_node" pkg="hand_gesture" type="d435_hand.py" output="screen"/>
        </group>
    </group>
</launch>